.cloud__ultimate {
  display: flex;
  flex-direction: row;
  padding: 6px;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
  box-shadow: 2px 2px 2px 1px rgb(235, 235, 235);
  border-radius: 5px;
}

.cloud__ultimate-image {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 6px;
}

.cloud__ultimate img {
   height: 20px;
   width: 20px;
}