.cloud__reviews {
  padding: 120px 0;
  display: flex;
  margin: 0 15%;
}

@media screen and (max-width: 1200px) {
 .cloud__reviews {
   flex-direction: column;
 }
}

@media screen and (max-width: 800px) {
  .cloud__reviews {
    padding: 45px 0;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .cloud__reviews {
    padding: 45px 0;
    align-items: center;
  }
}