.cloud__dashboard { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f5ff;
  padding: 68px 15%;
}

.cloud__dashboard-title {
  width: 80%;
}

.cloud__dashboard-title h1 {
  text-align: center;
}

.cloud__dashboard-title p {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  color: #02073E;
}

.cloud__dashboard-ultimates {
  display: flex;
  flex-direction: row;
  margin: 36px 0;
  justify-content: center;
  align-items: center;
}

.cloud__dashboard-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud__dashboard-image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .cloud__dashboard {
    padding-top: 36px;
  }

  .cloud__dashboard-title h1 {
    font-size: 24px;
  }

  .cloud__dashboard-title p {
    font-size: 14px;
  }

  .cloud__dashboard-ultimates {
    flex-direction: column;
    gap: 9px;
  }

  .cloud__dashboard-image img {
    width: 100vw;
  }
}